node_modules/
dist/
src-tauri/target/
.idea/
.vscode/
*.log
.env
.env.*
!/.env.example
work/
outputs/
src-tauri/binaries/*.exe
src-tauri/binaries/*.dll
*.dpapi
*.dpapi.pending
**/sing-box.json
**/app-config.json
**/profile.json
